---
import { SecretAccessor } from "../../../components/SecretAccessor";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="sam's page">
  <h1>This is a page</h1>
  <p>shiver me timbers</p>
  <SecretAccessor client:load />
</Layout>
