---
import { ConfettiButton } from "../../../components/ConfettiButton";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Sam's secret page">
  <h1>you found my secret page</h1>
  <p>congrats</p>
  <div class="confetti-btn-wrapper">
    <ConfettiButton client:only />
  </div>
</Layout>

<style lang="scss">
  .confetti-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
</style>
