<nav>
  <h1><a href="/">Weiss CS Club</a></h1>
</nav>

<style lang="scss">
  nav {
    background-color: black;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
      color: white;
      margin: 0;
      padding: 0;
    }

    a,
    a:visited,
    a:hover,
    a:active {
      color: inherit;
      text-decoration: none;
      padding: 0.5rem;
    }
  }
</style>
