---
import classNames from "classnames";
interface Props {
  tip: string;
  position?: "left" | "right" | "below";
}

Astro.props.position ??= "right";
---

<div
  class={classNames("tooltip", {
    "tooltip-left": Astro.props.position === "left",
    "tooltip-below": Astro.props.position === "below",
  })}
  data-text={Astro.props.tip}
>
  <slot />
</div>

<style lang="scss">
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

    &::before {
      content: attr(data-text);
      position: absolute;

      /* vertically center */
      top: 50%;
      transform: translateY(-50%);

      /* move to right */
      left: 100%;
      margin-left: 15px; /* and add a small left margin */

      /* basic styles */
      width: 200px;
      padding: 10px;
      border-radius: 10px;
      background: #000;
      color: #fff;
      text-align: center;

      display: none; /* hide by default */
    }

    &:after {
      content: "";
      position: absolute;

      /* position tooltip correctly */
      left: 100%;
      margin-left: -5px;

      /* vertically center */
      top: 50%;
      transform: translateY(-50%);

      /* the arrow */
      border: 10px solid #000;
      border-color: transparent black transparent transparent;

      display: none;
    }

    &:hover::before,
    &:hover::after {
      display: block;
    }

    &.tooltip-left {
      &::before {
        /* reset defaults */
        left: initial;
        margin: initial;

        /* set new values */
        right: 100%;
        margin-right: 15px;
      }

      &::after {
        left: initial;
        margin: initial;

        right: 100%;
        margin-right: -5px;

        border-color: transparent transparent transparent black;
      }
    }

    &.tooltip-below {
      &::before {
        /* reset defaults */
        left: 50%;
        margin: initial;
        transform: translateX(-50%);

        /* set new values */
        top: 100%;
        margin-top: 15px;
      }

      &::after {
        left: 50%;
        margin: initial;
        transform: translateX(-50%);

        top: 100%;
        margin-top: -5px;

        border-color: transparent transparent black transparent;
      }
    }
  }
</style>
